<div class="space--xxl"></div>
<div class="width width--lg">
  <h2 class="title-sans title-sans--xxs">Read more on our blog</h2>
  <div class="space--md"></div>
  <div class="row row--6-6 row--valign-center">
    <div class="col">
      <div class="bg-img bg-img--4-3" style="background-image: url('{{include.blog.image}}');">
        <a href="{{include.blog.link}}" class="bg-img__link"></a>
      </div>
    </div>
    <div class="col text--left">
      <h3 class="title title--xs">{{include.blog.title}}</h3>
      <div class="space--sm"></div>
      <a href="{{include.blog.link}}" class="btn btn--sm btn--outline btn--outline-orange">Read more</a>
    </div>
  </div>
</div>