---
layout: default
---

{% assign question = site.data.answers | where: 'id', page.id | first %}

<div class="response response--correct">
  <div class="response__img">
    <img src="{{site.img}}/icons/correct.svg" alt="Tick icon">
  </div>
  <div class="response__text">
    <p>Well done, you picked the correct answer</p>
  </div>
</div>

<div class="space--xxxl"></div>

<div class="width width--xl">
  <h1><span class="title-sans title-sans--xs">{{question.pre}}</span> <span class="title title--xxxxl vpad--sm">{{question.answer}}</span></h1>
  <div class="vpad--sm">
    <div class="bg-img bg-img--3-2" style="background-image: url('{{question.image}}')"></div>
  </div>
  <p class="text--xxl">{{question.description}}</p>
</div>

{% if question.blog %}
  {% include components/blog-link.html blog=question.blog %}
{% endif %}